<div class="d-flex h-100 text-center mt-5">
   <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <h1>Test Task - Admin pannel</h1>
      <p class="lead">Задание: лендинг пейдж, используемые технологии: клиент - bootstrap, angular 2+;
         сервер - node.js, express.<br>Сделать todo-шник "задолженность".</p>
      <p class="lead">
         <button type="button" class="btn btn-warning btn-lg mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Войти</button>
      </p>
      <div class="text-start mt-5">
         <ul>
            <li>Список задолженности по людям (квартира - 1 человек) - удаление\добавление\поиск , колонка в таблице - фио, сумма, дата оплаты(конечная), ознакомлен\нет;</li>
            <li>Списков задолженности несколько - в виде табов-переключателей;</li>
            <li>Списки также могу создавать\удалять (как и людей из списков);</li>
            <li>Сделать "мини-авторизацию", т.е. поле ввода логина-пароля, проверку на совпадение из списка зарегистрированных пользователей, после прохождения авторизации перевести пользователя на страницу работы со списками;</li>
            <li>Использовать ноду для работы с роутингом при обращениях к сервисам удаленных апи, т.е. списки должны быть размещены удаленно, не в джсоне;</li>
            <li>На главной странице, там где "авторизация", сделать в правом нижнем углу таблицу с основными валютами на день просмотра, курс получить от апи ПриватБанка, предусмотреть возможность ввода сумм в валюте в соответствии с гривной и наоборот, отобразить текущую дату в заглавии таблицы;</li>
            <li>Логировать вход в личный кабинет пользователя (т.е. подключить логирование на ноде);</li>
            <li>Верстка должна быть респонсивной, т.е. могу просматривать на любом устройстве;</li>
         </ul>                 
      </div>
   </div> 
</div>

<!-- Modal -->
<app-modal-window>
   <app-login-form></app-login-form>
</app-modal-window>

